{% load static %}
{% load cart %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="{% static 'css/button.css' %}">
  <script src="{% static 'js/menu.js' %}"></script>
  <script src="https://kit.fontawesome.com/ad6dddada5.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/98392c7a0e.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
  <!--For the Welcome to the site -->
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <!--Toggle only works with the checkbox so -->
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li> <a href="{% url 'index' %}"> Home </a></li>
            <li> <a href="{% url 'items:menu' %}"> Menu </a></li>
            <li> <a href="{% url 'reservation:reservation' %}"> Reservations </a></li>
            <li> <a href="{% url 'events:events' %}"> Events </a></li>
            <li> <a href="/contact/"> Contact </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- For the hamburger menu -->
  <header class="showcase">
    <div class="navbar">
      {% if request.session.customer %}
      <button onclick="Wel()" class="ty" id="WEL"> LoggedIn </button>
      <a href="{% url 'payment:cart' %}" class="ty" id="WEL"> Cart
        <i class="fas fa-cart-plus"></i>
        <span>
          {% if request.session.cart and request.session.cart_events %}
            {{ cart_book_events|first_arg:request.session.cart_events|second_arg:items|count:request.session.cart }}
          {% elif request.session.cart %}
            {{ cart_items|count_item:request.session.cart }}
          {% elif request.session.cart_events %}
            {{ request.session.cart_events|count_event }}
          {% else %}
            0
          {% endif %}
        </span>
      </a>
        <a href="/logout" class="ty" id="button"> LogOut</a>
        {% else %}
        <a href="{% url 'login' %}" class="ty" id="button"> LogIn </a>
        <a href="{% url 'signup' %}" class="ty" id="button1"> SignUp</a>
        {% endif %}

        <a href="{% url 'reservation:reservation' %}" class="ty"> Reservations </a>
    </div>
    <div class=" container showcase-inner">
      <h1> MENU </h1>
      <p>
        We bring you an opportunity to enjoy the essence of an interactive website.
        Here, we let you all enjoy the moment to get in touch with all the amazing feature that will serve
        you the best. Here, we allow you to use the customaizable theme that you can use for the special occassion
        to make your special one more special and make those moments special.
      </p>
      <ul>
        <li> <a href="#" class="butn"> Choose From </a></li>
        <ul class="hoverOn">
          <li><a href="#starter" class="butn"> Appetizer</a>
            <!--<ol>
            <a href="#" class="butn"> Mushroom</a>
          </ol>-->
          </li>
          <li><a href="#maincourse" class="butn"> Main Course </a></li>
          <!-- IDEA : adding the menu inside it as nested-->
          <li><a href="#drink" class="butn"> Drinks </a> </li>
          <li><a href="#dessert" class="butn"> Dessert </a></li>
        </ul>
      </ul>
    </div>
  </header>
  <div class="starter">

    <a name="starter" class="starter1"> Appetizer</a>
    <div id="a1" class="container overflowTest">


      {% for item in items %}
      {% if item.item_type == 'Appetizer' %}
      

      <div class="card1" id="{{ item.id }}">
        <img src="{{ item.image.url }}" alt="{{item.name}}" class="card_image">

        <div class="card_content">
          <h2>{{ item.name }}</h2>
        </div>
        <div class="description">
          Rs.{{ item.price }}
        </div>
        {% if item|is_in_cart:request.session.cart %}
        <div class="order">
          <button id="ordernow1">Added to Cart</button>
        </div>
        {% else %}
        <form action="#{{ item.id }}" , method="POST">
          {% csrf_token %}
          <input hidden type="text" name="item" value="{{ item.id }}">
          <input type="number" name="quantity" placeholder="quantity" value="quantity" required>
          <div class="order">
            <input type="submit" value="Add to Cart" id="ordernow1">
            <!--<a href="#" class="ordernow">Add to Cart </a>-->
          </div>
        </form>
        {% endif %}


      </div>

      {% endif %}
      {% endfor %}

    </div>
  </div>


    <div class="maincourse">
      <a name="maincourse" class="maincourse1">Main Course </a>

      <div id="b1" class="container">
        {% for item in items %}
        {% if item.item_type == 'Main Course' %}
        <div class="card1" id="{{ item.id }}">
          <img src="{{ item.image.url }}" alt="{{item.name}}" class="card_image">

          <div class="card_content">
            <h2>{{ item.name }}</h2>
          </div>
          <div class="description">
            Rs.{{ item.price }}
          </div>
          {% if item|is_in_cart:request.session.cart %}
          <div class="order">
            <button id="ordernow1">Added to Cart</button>
          </div>
          {% else %}
          <form action="#{{ item.id }}" , method="POST">
            {% csrf_token %}
            <input hidden type="text" name="item" value="{{ item.id }}">
            <input type="number" name="quantity" placeholder="quantity" value="quantity" required>
            <div class="order">
              <input type="submit" value="Add to Cart" id="ordernow1">
              <!--<a href="#" class="ordernow">Add to Cart </a>-->
            </div>
          </form>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="Drink">

        <a name="drink" class="drink1"> Drink </a>

        <div id="c1" class="container">
          {% for item in items %}
          {% if item.item_type == 'Drinks' %}
          <div class="card1" id="{{ item.id }}">
            <img src="{{ item.image.url }}" alt="{{item.name}}" class="card_image">

            <div class="card_content">
              <h2>{{ item.name }}</h2>
            </div>
            <div class="description">
              Rs.{{ item.price }}
            </div>
            {% if item|is_in_cart:request.session.cart %}
            <div class="order">
              <button id="ordernow1">Added to Cart</button>
            </div>
            {% else %}
            <form action="#{{ item.id }}" , method="POST">
              {% csrf_token %}
              <input hidden type="text" name="item" value="{{ item.id }}">
              <input type="number" name="quantity" placeholder="quantity" value="quantity" required>
              <div class="order">
                <input type="submit" value="Add to Cart" id="ordernow1">
                <!--<a href="#" class="ordernow">Add to Cart </a>-->
              </div>
            </form>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="Dessert">

        <a name="dessert" class="dessert"> Dessert </a>

        <div id="d1" class="container">
          {% for item in items %}
          {% if item.item_type == 'Dessert' %}
          <div class="card1" id="{{ item.id }}">
            <img src="{{ item.image.url }}" alt="{{item.name}}" class="card_image">

            <div class="card_content">
              <h2>{{ item.name }}</h2>
            </div>
            <div class="description">
              Rs.{{ item.price }}
            </div>
            {% if item|is_in_cart:request.session.cart %}
            <div class="order">
              <button id="ordernow1">Added to Cart</button>
            </div>
            {% else %}
            <form action="#{{ item.id }}" , method="POST">
              {% csrf_token %}
              <input hidden type="text" name="item" value="{{ item.id }}">
              <input type="number" name="quantity" placeholder="quantity" value="quantity">
              <div class="order">
                <input type="submit" value="Add to Cart" id="ordernow1">
                <!--<a href="#" class="ordernow">Add to Cart </a>-->
              </div>
            </form>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="copy">
        <span class="credit" >Created By:<a href="/"> Reserve N' Dine </a></span>
        <span class="far fa-copyright"></span><span>2020 All rights reserved</span>
        <br>
        <a href="https://www.facebook.com/siza.adhikari.7"><span class="fab fa-facebook facebook"></span></a>
        <span class="text"> <strong> facebook </strong> </span>
          <br>
      
            <a href="https://instagram.com/reserve_n_dine?igshid=1itha2ff8ewp8" span class="fab fa-instagram instagram">instagram</a> 
            <span class="text"> <strong> Instagram </strong> </span>
           
      </div>
      </div>
    

    <script src="{% static 'js/menu.css' %}"></script>
</body>

</html>
